.list-cards{
    margin-top: 5%;
}
.listaCarros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons{
    margin-top: 5%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.atrasList{
    width: 8.5rem;
    border-color: transparent;
    background-color: #650000;
    border-radius: 10px 0px 0px 10px;
    transition: .3s;
}
.adelanteList{
    width: 8.5rem;
    border-color: transparent;
    background-color: #650000;
    border-radius: 0px 10px 10px 0px;
    transition: .3s;
}

.atrasList:hover{
    background-color: black;
}
.adelanteList:hover{
    background-color: black;
}

.listaCarros{
    display: flex;
}

@media only screen and (max-width:768px){
    .atrasList{
        height: 50%;
        width: 100%;
    }
    .adelanteList{
        height: 50%;
        width: 100%;
    }
    .flechas{
        height: 100%;
    }
}
/*Movil*/
@media only screen and (max-width: 600px) {
    .atrasList{
        height: 50%;
        width: 100%;
    }
    .adelanteList{
        height: 50%;
        width: 100%;
    }
    .flechas{
        height: 100%;
    }
}