/*rediseño de CSS*/
.header-perfil{
    margin-top: 5%;
}
#subirFoto{
    display: none;
}


.subirfoto-label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    background-image: url(../images/user.svg);
    background-size: contain;
    background-position: center;
    border: .5rem solid aqua;
    color:transparent;
    transition: .3s all;
    /*Texto*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 250;
    font-size: 1.54275rem;
    line-height: 1.9rem;
}
.subirfoto-label:hover{
    background: transparent;
    color: black;
}
.title-welcome{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.9rem;
    /* identical to box height */
    color: #000000;
}
.name-worker{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 2.06885rem;
    line-height: 2.5rem;
    color: #000000;
}
.wyd{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.9rem;
    /* identical to box height */
    color: #000000;
}

/*Tablet*/
@media only screen and (max-width:768px){
    .title-welcome{
        font-size: 2.5rem;
        line-height: 2rem;
    }
    .name-worker{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .wyd{
        font-size: 2rem;
        line-height: 2.9rem;
    }
    .subirfoto-label{
        width: 12rem;
        height: 12rem;
    }
}
/*Movil*/
@media only screen and (max-width: 600px) {
    .title-welcome{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .name-worker{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .wyd{
        font-size: 1.5rem;
        line-height: 2.9rem;
    }
    .subirfoto-label{
        width: 7rem;
        height: 7rem;
    }
}

